  .imagecard{
    background-size: auto;
    background-color: #fff;
    opacity: 0.5;
}

.cardBackground {
    box-shadow: 0 0 25px silver;
    min-height: 70vh;
}

.cardtext{
    font-size: 30px;
    color: black;
    text-shadow: none;
    background-color: black; 
    filter:opacity(.5);

}

