.mapImg {
    background-image: url('../../components/images/earth.jpg');
   
}
.overlay{
    position: relative;
    top: 0;
    left: 0;
    padding: 7vw;
    min-height: 100vh;
    background-size: auto 100%;
    
  }

  .overlay::after {
    content: "";
    display: block;
    clear: both;
  }
  