body {
    background-image: url("../../components/images/person.jpg");
    background-size: cover;
    
}
.imagecard{
    /* background-image: url("../../components/images/person.jpg");
     */
     height: 80%;
     background: orangered;
     border: 1px solid black;

}
