#navbackground{
opacity: 0.5;
}

.navwhite{
   color: #000;
   font-family: 'Prata', serif;
   font-size: .75pc;
}
/* h1 {
    font-family: 'Prata', serif;
    background-color: #757575;
    font-size: 3pc;
    padding: 1pc;
} */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
  }
  
 