#navbackground{
background-color: #455A64;
padding: 4pc;
}

.navwhite{
   color: #fff;
   font-family: 'Prata', serif;
   font-size: 1pc;
}
h1 {
    font-family: 'Prata', serif;
    background-color: #757575;
    font-size: 3pc;
    padding: 3pc;
    
}